h1 {
  font-size: 34px;
}
.title {
  font-size: 38px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
.table th:not([align]) {
  text-align: left;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: block;
}
.level2 {
  box-sizing: border-box;
}
.level5 {
  box-sizing: border-box;
  /*display: block;*/
}
/*
.table {
  display: table;
  border-color: grey;
}
*/
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 12px;
  /*border-collapse: separate;*/
}
/*
.table-condensed {
  border-spacing: 0;
  border-collapse: collapse;
}
*/
.header {
  
}
.odd {
  box-sizing: border-box;
}
.even {
  box-sizing: border-box;
}

code {
  color: inherit;
  /*background-color: rgba(0, 0, 0, 0.04);*/
}
img {
  max-width:100%;
  height: auto;
}
.tabbed-pane {
  padding-top: 12px;
}
/*
button.code-folding-btn:focus {
  outline: none;
}
*/